#banner {
    background-color: rgb(68, 38, 88);
    text-align: center;
    color: #F0F0F0;
    line-height: 0.5;
}

#banner img {
    padding: 15px;
}

body {
    font-family: 'Times New Roman', Times, serif;
    background-color: #F0F0F0;
    color: #ffffff;
    margin: 0;
}

#navbanner {
    margin-top: 0%;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    border-spacing: 0.25em;
    height: auto;
}

main {
    text-align: center;
}

main img {
    border-style: groove;
    margin: 0 auto;
}

.article {
    display: inline-block;
    margin-right: 100px;
    margin-left: 100px;
}

.article img {
    display: inline-block;
    margin: 25px;

}

.teaser {
    max-width: 100%;
    margin: 0 auto;
    text-align: center;
}

.teaser img {
    max-width: 625px;
    min-width: 300px;
    width: 100%;
    height: auto;
    border-style: groove;
}

main p {
    text-indent: 3em;
    font-size: large;
    line-height: 1.5rem;
}

a {
    text-decoration: none;
    color: #ffffff;
    display: block; 
    margin-bottom: 10px; 
    line-height: 0.2; 
}

a:hover {
    text-decoration: underline;
}


